{varType string $firebaseConfigUrl}
{varType string $vapidKey}

<script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-messaging-compat.js"></script>

<script src="{$firebaseConfigUrl}"></script>
<script>
    var snugcomponents = snugcomponents || {};
    snugcomponents.firebase = snugcomponents.firebase || {};

    snugcomponents.firebase.vapidKey = {$vapidKey};
</script>

<script src="{='/js/firebase.js'|asset}"></script>
